body {

  font-family: Segoe UI;

}

#baner {

  text-decoration: underline;

}

#punkty {



}

table {

  table-layout: fixed;
  border-collapse: collapse;
  border: 3px solid green;

}
